th, td {
    border: 1px solid grey;
}

table {
    width: 100%;
    table-layout: fixed;
}

td {
    overflow: hidden;
    white-space: nowrap;
}

.bottombody {
    position: sticky;
    bottom: 0px;
    background-color: rgb(208, 216, 224);
}

.topbody {
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: rgb(57, 199, 235);
}

.topbody2 {
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: rgb(57, 199, 235);
}

// .modaltable tbody tr td {
//     border: 0px solid white;
// }
.v-text-field input {
    min-height: 7px !important;
}

// departmentList

.modaltable {
    tbody, thead {
        tr:hover {
            background-color: transparent !important;
        }
        tr {
            td, th {
                border: 0px solid white;
                font-size: 15px;
            }
        }
    }
}

.ageText {
    width: 40px;
    .v-text-field__slot {
        input {
            text-align: right;
        }
    }
}

// .topbody_data {
//     width: 60px;
// }