th, td{
    border: 1px solid grey;
}

table {
    width: 100%;
    table-layout: fixed;
}

td {
    overflow: hidden;
    white-space: nowrap;
}

.bottombody {
    position: sticky;
    bottom: 0px;
    background-color: rgb(208, 216, 224);
}

.topbody {
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: rgb(57, 199, 235);
}

// .topbody_data {
//     width: 60px;
// }